/caracAL.log*
/logs/*
!/logs/README.md
/config.js
/config.*.js
!/config.EXAMPLE.js
/caracAL.service
/node_modules/
/game_files/*
!/game_files/README.md
/localStorage/*
!/localStorage/README.md
.idea/
/CODE/*
!/CODE/README.md
!/CODE/caracAL/
/TYPECODE/*
!/TYPECODE/README.md
!/TYPECODE/caracAL/
/TYPECODE.out/*